form{
	text-align:center;
	margin:auto ;
	padding-top:50px;
	padding-right:10px;
	padding-left:10px;
	
	padding-bottom:20px;
	width:500px;
	height:330px;
	
	box-sizing:content-box;
	font-style:italic ;
	font-family: cursive,Georgia,sans-serif;
	border:white solid;
	}
	label{
	margin:22px;
	
	}
	input{
	margin:12px auto;
	font-style:italic ;
	font-family: cursive,Georgia,sans-serif;
	}
	#btn1:hover{
	color:black;
	font-style:bold;
	background-color:green;
	}
	#btn1{
	margin-top:25px;
	}
	
	h1{
	margin-left:600px;
	margin-top:150px;
	margin-bottom:50px;
	font-family: cursive,Georgia,sans-serif;
	}
	body{
	background-image:url("/Images/music.jpeg");
	color:white;
	}
	