<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/style1.css}"/>
</head>
<body>
	<h1>User Login</h1>
	<form action="validate" method="post">
		
		<label>Enter your Email: </label>
		<input type="email" name="email" placeholder="Enter your email"/>
		<br/>
		<label>Enter your password: </label>
		<input type="password" name="password" placeholder="Enter your password"/>
		<br/>
		
		<input type="submit" value="LOGIN" id="btn1"/>
	</form>
</body>
</html>